#root {
  margin: 0 auto;
}

p {
  margin: 0;
}

.mddark a {
  color: lightblue;
}

.mddark a:visited {
  color: lightpink;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("./fonts/Ubuntu-Regular.ttf") format("truetype");
}
